<%= simple_form_for([@account, @accounting_period, @bank_withdrawal], remote: true) do |f| %>
  <%#= f.error_notification %>

  <% if @bank_withdrawal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_withdrawal.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @bank_withdrawal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :date, :as => :ui_date_picker %>
    <%= f.input :bank_account, collection: bank_accounts_list, include_blank: false %>
    <%= f.input :amount %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>




<script>


$(function() {
  $('input.ui-date-picker').datepicker(
   {
      changeMonth: true,
      changeYear: true
   }

  );
  var dateValue = $( "input#bank_withdrawal_date" ).val();
  
  $( "input#bank_withdrawal_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  $( "input#bank_withdrawal_date" ).datepicker( "setDate", dateValue );
});


</script>
