<div class="post">


<p class="meta">Bank Withdrawal for Account# <%= @account.account_number %>: <%= @account.account_name %> - Accounting Period: <%= @accounting_period.id %></p>
<h2 class="title">Bank Withdrawal</h2>
<div class="entry">




<p id="notice"><%= notice %></p>


<p>
  <b>Date:</b>
  <%= @bank_withdrawal.date %>
</p>

<p>
  <b>Bank account:</b>
  <%= @bank_withdrawal.bank_account %>
</p>

<p>
  <b>Amount:</b>
  <%= @bank_withdrawal.amount %>
</p>



<p>
  <b>Note:</b>
  <%= @bank_withdrawal.note %>
</p>



</div>
</div>
