<%= simple_form_for([@account, @accounting_period, @bank_penalty], remote: true) do |f| %>
  <%#= f.error_notification %>

  <% if @bank_penalty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_penalty.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @bank_penalty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :date, as: :string, input_html: { class: "ui-date-picker" } %>
    <%= f.input :bank_account, collection: bank_accounts_list %>
    <%= f.input :description %>
    <%= f.input :amount %>
     <%= f.input :notes, :as => :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>




<script>


$(function() {
  $('input.ui-date-picker').datepicker(
   {
      changeMonth: true,
      changeYear: true
   }

  );
  var dateValue = $( "input#bank_penalty_date" ).val();
  
  $( "input#bank_penalty_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  $( "input#bank_penalty_date" ).datepicker( "setDate", dateValue );
});


</script>
