<div class="post">


<p class="meta">Bank Penalties for Account# <%= @account.account_number %>: <%= @account.account_name %> - Accounting Period: <%= @accounting_period.id %></p>
<h2 class="title">Bank Penalties</h2>
<div class="entry">

<div id="bank_penalty_list">
  <%= render partial: 'list' %>
</div>

<br />

<%= link_to 'New Bank penalty', new_account_accounting_period_bank_penalty_path(@account, @accounting_period), :data => { :colorbox => true} %>


</div>
</div>
