<%
  arr_obj = [@account, @accounting_period, @remittance]
%>


<%= simple_form_for(arr_obj, remote: true) do |f| %>
  <%#= f.error_notification %>

  <% if @remittance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remittance.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @remittance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :date, as: :string, input_html: { class: "ui-date-picker" } %>
    <%= f.input :source_of_fund, collection: source_of_fund_list %>
    <%= f.input :bank_withdrawal_id, collection: @accounting_period.bank_withdrawals, value_method: :id, label_method: :display_name  %>
    <%= f.input :remittance_type, collection: remittance_type_list %>
    <%= f.input :description %>
    <%= f.input :amount %>
    <%= f.input :notes, :as => :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script>


$(function() {
  $('input.ui-date-picker').datepicker(
   {
      changeMonth: true,
      changeYear: true
   }

  );
  var dateValue = $( "input#remittance_date" ).val();
  
  $( "input#remittance_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  $( "input#remittance_date" ).datepicker( "setDate", dateValue );
});


</script>
