<div class="post">


<p class="meta">Remittance for Account# <%= @account.account_number %>: <%= @account.account_name %> - Accounting Period: <%= @accounting_period.id %></p>
<h2 class="title">Remittance</h2>
<div class="entry">


<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @remittance.date %>
</p>

<p>
  <b>Source of fund:</b>
  <%= @remittance.source_of_fund %>
</p>


<% if @remittance.is_from_bank_withdrawal? %>

<p>
  <b>Bank Withdrawal:</b>
  <%= @remittance.bank_withdrawal.display_name %>
</p>

<% end %>

<p>
  <b>Remittance type:</b>
  <%= @remittance.remittance_type %>
</p>

<p>
  <b>Description:</b>
  <%= @remittance.description %>
</p>

<p>
  <b>Amount:</b>
  <%= @remittance.amount %>
</p>

<p>
  <b>Notes:</b>
  <%= @remittance.notes %>
</p>


</div>
</div>
