
<table class="gridtable">
  <tr>    
    <th>Date</th>
    <th>Bank account</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Trancaction type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @bank_other_transactions.each do |bank_other_transaction| %>
  <tr>
    <td><%= bank_other_transaction.date %></td>
    <td><%= bank_account_display(bank_other_transaction.bank_account) %></td>
    <td><%= bank_other_transaction.description %></td>
    <td><%= bank_other_transaction.amount %></td>
    <td><%= bank_other_transaction.transaction_type %></td>
    <td><%= link_to 'Show', [@account, @accounting_period, bank_other_transaction], :data => { :colorbox => true} %></td>
    <td><%= link_to 'Edit', edit_account_accounting_period_bank_other_transaction_path(@account, @accounting_period, bank_other_transaction), :data => { :colorbox => true} %></td>
    <td><%= link_to 'Destroy', [@account, @accounting_period, bank_other_transaction], method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
  </tr>
<% end %>
</table>





<script type="text/javascript">
  $(function() {
    $('.best_in_place').bind("ajax:success", function(){
      $.get('<%= summary_account_accounting_period_path(@accounting_period.account, @accounting_period) -%>', function(data) {
        $('#accounting_period_summary').html(data);
      });
    })
  });
</script>
