<%= simple_form_for([@account, @accounting_period]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :date, as: :string, input_html: { class: "ui-date-picker" } %>
    <%= f.input :checking_account_rename %>
    <%= f.input :other_account_name %>
    <%= f.input :receipts_balance_forward %>
    <%= f.input :checking_balance_forward %>
    <%= f.input :other_account_balance_forward %>
    <%= f.input :total_funds_at_bom %>


    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script>


$(function() {
  $('input.ui-date-picker').datepicker(
   {
      changeMonth: true,
      changeYear: true
   }

  );
  var dateValue = $( "input#accounting_period_date" ).val();
  
  $( "input#accounting_period_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  $( "input#accounting_period_date" ).datepicker( "setDate", dateValue );
});


</script>
