<div class="post">


<p class="meta">Edit Accounting Period for Account# <%= @account.account_number %>: <%= @account.account_name %></p>
<h2 class="title">Edit Accounting Period</h2>
<div class="entry">


<%= render 'form' %>

<%= link_to 'Show', [@accounting_period.account, @accounting_period] %> |
<%= link_to 'Back', account_accounting_periods_path(@account) %>


</div>
</div>
