<%= simple_form_for([@account, @accounting_period, @receipt], remote: true) do |f| %>
  <%#= f.error_notification %>

  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :date, :as => :ui_date_picker %>
    <%= f.input :worldwide_work %>
    <%#= f.input :kingdom_hall_construction_worldwide %>
    <%= f.input :local_congregation_expenses %>
    <%= f.input :other_1 %>
    <%= f.input :other_1_amount %>
    <%= f.input :other_1_for, collection: contributions_for_list, include_blank: true %>
    <%= f.input :other_2 %>
    <%= f.input :other_2_amount %>
    <%= f.input :other_2_for, collection: contributions_for_list, include_blank: true %>
    <%= f.input :total %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script>


$(function() {
  $('input.ui-date-picker').datepicker(
   {
      changeMonth: true,
      changeYear: true
   }

  );
  var dateValue = $( "input#receipt_date" ).val();
  
  $( "input#receipt_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  $( "input#receipt_date" ).datepicker( "setDate", dateValue );


  function compute_receipt(e) 
  {  
    var total = 0.00;
    total += parseFloat($('#receipt_worldwide_work').val());
    //total += parseFloat($('#receipt_kingdom_hall_construction_worldwide').val());
    total += parseFloat($('#receipt_local_congregation_expenses').val());
    total += parseFloat($('#receipt_other_1_amount').val());
    total += parseFloat($('#receipt_other_2_amount').val());

    $("#receipt_total").val(total.toFixed(2));  
  }



  $("#receipt_worldwide_work, #receipt_kingdom_hall_construction_worldwide, #receipt_local_congregation_expenses, #receipt_other_1_amount, #receipt_other_2_amount").change(compute_receipt);
  
  $("#receipt_worldwide_work, #receipt_kingdom_hall_construction_worldwide, #receipt_local_congregation_expenses, #receipt_other_1_amount, #receipt_other_2_amount").keyup(compute_receipt);

 compute_receipt();




});


</script>
