<div class="post">


<p class="meta">Receipts for Account# <%= @account.account_number %>: <%= @account.account_name %> - Accounting Period: <%= @accounting_period.id %></p>
<h2 class="title">Receipt List</h2>
<div class="entry">


<div id="receipt_list">
  <%= render partial: 'list' %>

</div>



<table class="flexme3" style="display: none"></table>


<br />

<%= link_to 'New Receipt', new_account_accounting_period_receipt_path(@account, @accounting_period), :data => { :colorbox => true } %>

</div>
</div>



<script type="text/javascript">
    $(".flexme3").flexigrid({
        url : '24/receipts.json',
        method : 'GET',
        dataType : 'json',
        colModel : [ {
            display : 'Date',
            name : 'date',
            width : 40,
            sortable : true,
            align : 'center'
        },
            {
                display: 'Worldwide Work',
                name: 'worldwide_work',
                width: 180,
                sortable: true,
                align: 'left'
            } ],
        buttons : [ {
            name : 'Add',
            bclass : 'add',
            onpress : test
        }, {
            name : 'Delete',
            bclass : 'delete',
            onpress : test
        }, {
            separator : true
        } ],
        searchitems : [ {
            display : 'ISO',
            name : 'iso'
        }, {
            display : 'Name',
            name : 'name',
            isdefault : true
        } ],
        sortname : "iso",
        sortorder : "asc",
        usepager : true,
        title : 'Countries',
        useRp : true,
        rp : 15,
        showTableToggleBtn : true,
        width : 700,
        height : 200
    });

    function test(com, grid) {
        if (com == 'Delete') {
            confirm('Delete ' + $('.trSelected', grid).length + ' items?')
        } else if (com == 'Add') {
            alert('Add New Item');
        }
    }
</script>
