<div class="post">


<p class="meta">Receipt for Account# <%= @account.account_number %>: <%= @account.account_name %> - Accounting Period: <%= @accounting_period.id %></p>
<h2 class="title">Receipt</h2>
<div class="entry">


<p id="notice"><%= notice %></p>


<p>
  <b>Date:</b>
  <%= @receipt.date %>
</p>

<p>
  <b>Worldwide work:</b>
  <%= @receipt.worldwide_work %>
</p>

<p>
  <b>Kingdom hall construction worldwide:</b>
  <%= @receipt.kingdom_hall_construction_worldwide %>
</p>

<p>
  <b>Local congregation expenses:</b>
  <%= @receipt.local_congregation_expenses %>
</p>

<p>
  <b>Other 1:</b>
  <%= @receipt.other_1 %>
</p>

<p>
  <b>Other 1 amount:</b>
  <%= @receipt.other_1_amount %>
</p>

<p>
  <b>Other 1 for:</b>
  <%= @receipt.other_1_for %>
</p>

<p>
  <b>Other 2:</b>
  <%= @receipt.other_2 %>
</p>

<p>
  <b>Other 2 amount:</b>
  <%= @receipt.other_2_amount %>
</p>

<p>
  <b>Other 2 for:</b>
  <%= @receipt.other_2_for %>
</p>

<p>
  <b>Total:</b>
  <%= @receipt.total %>
</p>



</div>
</div>
